# See http://help.github.com/ignore-files/ for more about ignoring files.

.env
.lock

# Mac OS X
.DS_Store
._.*
._*

# Ignore local editor
.project
.settings
.idea
*.swp
tags
nbproject/*

# Windows
Thumbs.db

# Debugging related
npm-debug.log

# Dependency packages files
node_modules/

# Output
dist/

#
package-lock.json

#
original
original/
original/*

#
build
build/

#
out
out/
./out
./out/

#
dist
dist/
./dist
./dist/
