@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-control-center {

    //
    .ui-content, .ui-screen {
        @include ps.stretch;
        @include ps.grid-layout(
            0px minmax(0px, 1fr),
            minmax(0px, 2.5rem) minmax(0px, 1fr)
        );

        //
        & {
            container-name: ui-settings;
            container-type: size;
            contain: content;

            // wallpaper manager doesn't supported sidebars...
            position: relative;
            overflow: hidden;
        }

        //
        .ui-side {
            @include ps.clamped-inline(var(--sidebar-size), 0px, 100cqi);
            @include ps.clamped-block(100%, 0px, 100%);

            //
            & {
                translate: 0px 0px;
                transition: translate 0.1s linear;
                grid-column: 1 / 1 span;
                grid-row: 2 / 2 span;
                z-index: 9;

                justify-self: start;
            }

            //
            &::part(content-box) {
                //@include ps.stretch;

                //
                display: flex;
                flex-direction: column;

                //
                place-content: start;
                place-items: start;
            }

            //
            & :where(.ui-tab) {
                cursor: pointer !important;
                pointer-events: auto !important;
            }
        }

        //
        @container ui-windowed (width >= 8in) {
            & {
                --sidebar-size: 100%;
                --sidebar-space: min(18rem, 100cqi);
            }

            //
            & .ui-side { translate: 0px 0px;  };
        }

        //
        @container ui-windowed (width < 8in) {
            & {
                --sidebar-size: 32rem;
                --sidebar-space: 0px;
            }

            //
            & .ui-side {
                translate: calc(100% * -1) 0px;
                &[data-open="true"] { translate: 0px 0px; };
            }
        };

        //
        &.ui-settings {
            grid-template-columns: minmax(0px, var(--sidebar-space)) minmax(0px, 1fr);
        }

        //
        .ui-space {
            @include ps.stretch;

            //
            grid-row: 2 / 2 span;
            grid-column: 2 / 2 span;
        }

        //
        .ui-nav {
            @include ps.stretch;
            @include ps.flex(row);

            //
            grid-column: 1 / 2 span;
            grid-row: 1 / 1 span;

            //
            justify-content: start;

            //
            .f-space {
                //@include ps.stretch;
                @include ps.flex-space;
            }

            //
            button {
                @include ps.no-wrap;

                //
                & {
                    box-sizing: border-box;
                    padding-inline: 0.5rem;
                    padding-block: 0.5rem;

                    //
                    aspect-ratio: 1 / 1;
                    min-inline-size: 3rem;
                    inline-size: max-content;
                    block-size: 100%;

                    //
                    gap: 0.4rem;

                    //
                    font-size: clamp(0.5rem, 2cqi, 0.8rem);
                }

                //
                & * {
                    background-color: transparent;
                    max-inline-size: 100%;
                    max-block-size: 100%;
                    block-size: 100%;
                }
            }
        }
    }

}
