@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-manager {

    //
    .ui-content.ui-manager {

        //
        .file-list {
            @include ps.no-wrap;
            @include ps.stretch;

            //
            display: grid;
            grid-template-columns: minmax(0px, 2rem) minmax(0px, 1fr) minmax(0px, max-content);
            grid-auto-rows: minmax(0px, 2rem);

            //
            & {
                gap: 0rem 1rem;
                font-size: 0.7rem;
                align-content: start;
                pointer-events: none;
            }

            //
            .file {
                @include ps.stretch;
                @include ps.no-wrap;
                @include ps.grid-layout(
                    subgrid,
                    100%
                );

                //
                & {
                    pointer-events: auto;
                    cursor: pointer;
                    padding-inline: 1rem;
                    grid-column: 1 / -1;
                    grid-row: auto;
                    gap: 0.5rem;
                }

                //
                & * {
                    @include ps.no-wrap;

                    & { background-color: transparent; };
                }

                //
                & .name {
                    text-align: start;
                    justify-self: start;
                }

                //
                & > * {
                    @include ps.stretch;

                    //
                    inline-size: max-content;
                    block-size: max-content;
                }

                /*.icon-wrap {
                    justify-self: start;
                }*/
            }
        }
    }
}
