@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme";

//
@layer ui-settings {

    //
    .ui-content.ui-settings {

        //
        .ui-space {
            grid-column: 2 / 2 span;

            //
            &::part(content-box) {
                padding-inline: 1rem;
                padding-block: 1rem;
            }
        }

        //
        .form-wrap {
            @include ps.limited-inline(100%);
            @include ps.limited-block(max-content, 100%);
            @include ps.flex(column);

            //
            & {
                border-radius: 0.5rem;
                overflow: hidden;
            }
        }

        //
        .form-description {
            @include ps.no-wrap;
            @include ps.limited-inline(max-content);

            //
            & {
                align-self: start;
                justify-content: start;

                //
                pointer-events: none;

                //
                padding: 2rem;
                padding-block-end: 0.5rem;
                padding-inline: min(2rem, 5cqi);

                //
                inline-size: 100%;
                font-size: 0.8rem;

                //
                opacity: 0.6;
                background-color: var(--current-surface-color);
            }
        }

        //
        .opt-label {
            @include ps.no-wrap;
            @include ps.stretch;

            //
            pointer-events: none;

            //
            text-align: start;
            justify-self: start;
            justify-content: start;
            justify-items: start;
        }
    }
}
