@use "@unite/scss/core/Utils" as u;
@use "@unite/scss/core/CMixins" as cm;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-app-frame {

    //
    :where(.ui-status-bar) {
        //@include tm.ux-transparent;
        //@include tm.ux-dynamic-transparent;

        //
        inline-size: 100%;

        //
        display: grid;
        z-index: 99999;
        overflow: hidden;
        pointer-events: none;
        place-content: center;

        //
        grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr) minmax(0px, max-content);
        grid-template-rows: minmax(0px, 1fr);
        gap: 0px;

        //
        align-content: center;
        justify-content: space-between;
        place-items: stretch;

        //
        position: fixed;
        //inset: auto;
        //inset-block-end: 0px;
        block-size: 2rem;
        padding-inline: 1rem;

        inset: auto;
        inset-block-start: 0px;

        //
        & > * {
            inline-size: 100%;
            block-size: 100%;
            display: flex;
            place-items: center;
            place-content: center;
            background-color: transparent;
        }

        //
        & * { background-color: transparent; }
        .left   { grid-column: 1 / 1 span; grid-row: 1 / 1 span; justify-self: start; gap: 0rem; }
        .center { grid-column: 2 / 2 span; grid-row: 1 / 1 span; justify-self: center; }
        .right  { grid-column: 3 / 3 span; grid-row: 1 / 1 span; justify-self: end; gap: 0rem; }
        .left, .right { inline-size: max-content; }

        //
        .icon-wrap {//
            inline-size: 100%;
            block-size: 100%;
            display: flex;
            place-items: center;
            place-content: center;

            //
            aspect-ratio: 1 / 1;

            //
            padding: 0.25rem;
            box-sizing: border-box;
        }

        //
        .ui-indicator {
            display: inline-block;
            inline-size: max-content;
            block-size: max-content;
        }

        //
        /*@media #{d.$isMobile} {
            inset: auto;
            inset-block-start: 0px;
        }*/

        //
        @media #{d.$isDesktop} {
            display: none;
        }

    }
};
