@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-app-frame {

    //
    :where(.ui-status-bar) {
        @include ps.limited-inline(100%);
        @include ps.limited-block(2rem);
        @include ps.grid-layout(
            minmax(0px, max-content) minmax(0px, 1fr) minmax(0px, max-content),
            minmax(0px, 1fr)
        );

        //
        & {
            position: fixed;
            z-index: 99999;
            overflow: hidden;
            pointer-events: none;

            //
            justify-content: space-between;
            padding-inline: 0.5rem;
            gap: 0rem;
        }

        //
        & > * {
            @include ps.stretch;

            //
            & { background-color: transparent; };
            & { justify-content: space-between; }
        }

        //
        & *             { background-color: transparent; gap: 0rem; }
        & .left         { grid-column: 1 / 1 span; grid-row: 1 / 1 span; justify-self: start; justify-items: start; gap: 0rem; }
        & .center       { grid-column: 2 / 2 span; grid-row: 1 / 1 span; justify-self: center; justify-items: center; gap: 0rem; }
        & .right        { grid-column: 3 / 3 span; grid-row: 1 / 1 span; justify-self: end; justify-items: end; gap: 0rem; }
        & .left, .right { inline-size: max-content; }

        //
        .icon-wrap {
            @include ps.stretch;

            //
            aspect-ratio: 1 / 1;
        }

        //
        .ui-indicator {
            & {
                padding: 0.5rem;
                pointer-events: none;
                inline-size: max-content;
                block-size: 100%;
                place-self: center;
                place-content: center;
            }

            //
            &.ui-icon {
                aspect-ratio: 1 / 1;
            }

            //
            a {
                display: inline;
                inline-size: max-content;
                block-size: 100%;
                place-self: center;
                place-content: center;
            }
        }

        //
        @media #{d.$isDesktop} {
            display: none;
        }
    }
};
