@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@property --data-taskbar-shift {
    syntax: "<length-percentage>";
    initial-value: 0px;
    inherits: true;
}

//
@layer ui-taskbar {

    //
    .ui-task-panel {

        & {
            @include ps.stretch;

            //
            position: relative;
            pointer-events: auto;
            grid-column: 1 / 1 span;
            grid-row: 1 / 1 span;

            //
            z-index: 1400;
            box-shadow: 0px 0px 1rem rgb(from #000000 r g b / 0.2);
        }

        //
        &::part(content-box) {
            @include ps.flex(column);
            @include ps.center;

            //
            pointer-events: auto;

            //
            justify-items: start !important;
            justify-content: start !important;

            //
            gap: 0px;
            padding: 0px;
            padding-block-start: 2rem;
        }

        //
        .ui-tab-item {
            @include ps.flex(row);

            //
            & { --decor-size: 4rem; };
            & {
                inline-size: 100%;
                justify-content: space-between;
                justify-items: stretch;
                pointer-events: auto;
            }

            //
            &:not(.ui-active) {
                opacity: 0.5;
            }
        }

        //
        @media #{d.$isMobile}  { inline-size: 100cqi; }
        @media #{d.$isDesktop} { display: none; }
    }

    //
    .ui-navbar {
        @include ps.no-wrap;
        @include ps.grid-layout(
            [menu-button] minmax(var(--taskbar-size), max-content)
            [title-label] minmax(0px, 1fr)
            [back-button] minmax(var(--taskbar-size), max-content),
            minmax(0px, 1fr)
        );

        //
        @include ps.limited-inline(100cqi);
        @include ps.clamped-block(var(--taskbar-size), max-content);

        //
        & {
            position: fixed;
            inset: 0px;
            inset-block-start: auto;
            z-index: 9999;

            //
            container-type: size;
            contain: content;

            //
            pointer-events: auto;
            gap: 0px;

            //
            grid-row: titlebar;
            grid-column: 1 / 3 span;
            align-items: end;
        }

        //
        & > :where(*) {
            @include ps.stretch;

            //
            & {
                font-weight: bold;
                pointer-events: none;
                padding: 1rem;
                grid-row: 1 / 1 span;
            }
        }

        //
        & > :where(.back-button, .menu-button) {
            @include ps.stretch;

            //
            & {
                aspect-ratio: 1 / 1;
                max-inline-size: 100cqmin;
                max-block-size: 100cqmin;

                //
                padding: 0.75rem;
                cursor: pointer;
                pointer-events: auto;
            }
        }

        //
        @media #{d.$isDesktop} { display: none; }

        //
        @at-root body:has(.ui-app-frame[data-hidden="false"]) & {
            @include tm.ux-solid;
        }

        //
        @at-root body:not(:has(.ui-app-frame[data-hidden="false"])) & {
            //
            & {
                --theme-surface-alpha: 0;
                --theme-surface-chroma: 1;
            }

            //
            & {
                box-shadow: none;
                pointer-events: none;
            }

            //
            &, & * { --highlight-coefficient: 0; }
            & .ui-title-handle { pointer-events: none; }
        }

        //
        @at-root body:not(:has(.ui-app-frame[data-hidden="false"])):not(:has(.ui-task-panel[data-hidden="false"]))
        {& .back-button { display: none; }}
    }

    //
    .ui-taskbar {
        //
        @include ps.clamped-block(var(--taskbar-size));
        @include ps.grid-layout(
                [app-menu] minmax(0px, var(--taskbar-size))
                [task-bar] minmax(0px, 1fr)
                [ui-status] minmax(0px, max-content),
            minmax(0px, var(--taskbar-size))
        );

        //
        @include tm.ux-solid;

        //
        & { --translate-y: var(--data-taskbar-shift, 0px); };

        //
        & {
            inline-size: 100%;
            position: fixed;
            inset: 0px;
            inset-block-start: auto;
            z-index: 9999;

            //
            transition-property: --data-taskbar-shift;
            transition-duration: 0.25s;
            transition-timing-function: linear;
            transition-delay: 0.2s;

            //
            pointer-events: auto;
            box-shadow: 0px 0px 1rem #00000070;

            //
            container-type: size;
            contain: content;
        }

        //
        &:active { transition-delay: 0s; }
        & > :where(*) { @include ps.stretch; }

        //
        & .ui-app-menu {
            padding: 0.5rem;
            cursor: pointer;
            pointer-events: auto;
        }

        //
        & .ui-task-bar {
            @include ps.flex(row);

            //
            & {
                gap: 0.25rem;
                pointer-events: none;
                justify-content: start;
                justify-items: start;
            }
        }

        //
        & .ui-task {
            @include ps.stretch;

            //
            & {
                aspect-ratio: 1 / 1;
                max-inline-size: 100cqmin;
                max-block-size: 100cqmin;

                //
                pointer-events: auto;
                padding: 0.75rem;
                cursor: pointer;
            }

            //
            &.ui-focus {
                border-block-end: solid 0.125rem oklch(from var(--current-surface-color) l c h / 1.0);
            }

            //
            &:not(.ui-active) { opacity: 0.5; }
        }

        //
        & .ui-status {
            @include ps.flex(row);

            //
            & {
                gap: 0.5rem;
                padding: 1rem;
            }

            //
            & .icon-wrap {
                aspect-ratio: 1 / 1;
                inline-size: 100%;
                block-size: 100%;
            }

            //
            & > * {
                pointer-events: auto;

                //
                inline-size: 2rem;
                block-size: 2rem;
                padding: 0.125rem;

                //
                border-radius: 0.25rem;
                cursor: pointer;
            }

            //
            & > .ui-indicator {
                padding-inline: 0.25rem;
                inline-size: max-content;
                block-size: max-content;
            }

            //
            & > .ui-time {
                padding-inline: 1rem;
            }
        }

        //
        @media #{d.$isMobile} { display: none; }

        //
        @at-root body:has(.ui-app-frame[data-hidden="false"]) & {
            & { --data-taskbar-shift: 2.5rem; }
            &:hover, &:active { --data-taskbar-shift: 0px; }
            &:not(:hover, :active) { --data-taskbar-shift: 2.5rem; }
        }

        //
        @at-root body:not(:has(.ui-app-frame[data-hidden="false"])) & {
            & {
                --theme-surface-alpha: 0;
                --theme-surface-chroma: 1;
            }

            //
            & {
                box-shadow: none;
                pointer-events: none;
            }
        }
    }
};
