@use "@unite/scss/design/ColorTheme";
@use "@unite/scss/core/Profile" as ps;

//
@layer ui-modal-frame {

    //
    .ui-modal-frame {

        //
        @include ps.clamped-inline(max-content, 0px, 80cqi);
        @include ps.clamped-block(max-content, max-content, 80cqb);

        //
        & {
            --rx: 0px;
            --ry: 0px;

            //
            --translate-x: clamp(0px, calc(calc(50cqi - 50%) + var(--rx)), calc(100cqi - 100%));
            --translate-y: clamp(0px, calc(calc(50cqb - 50%) + var(--ry)), calc(100cqb - 100%));
        }

        //
        & {
            direction: ltr;
            place-self: start;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 0px;

            //
            position: fixed;
            overflow: hidden;
            padding: 0.25rem;
            border-radius: 0.25rem;

            //
            pointer-events: auto;

            //
            z-index: 99999;
            font-size: 0.8rem;

            //
            transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale, 1));
            box-shadow: 0px 0px 1rem 1px #00000070;
        }

        //
        &.ui-context-menu {
            --rx: calc(var(--click-x, 0) * var(--zpx, 1px) - calc(50cqi - 50%));
            --ry: calc(var(--click-y, 0) * var(--zpx, 1px) - calc(50cqb - 50%));

            //
            @media screen and (hover: none) and (pointer: coarse) {
                --rx: calc(var(--click-x, 0) * var(--zpx, 1px) - 50cqi);
                --ry: calc(var(--click-y, 0) * var(--zpx, 1px) - 50cqb);
            }

            //
            & .ui-ctx-item {
                pointer-events: auto;
            }

            //
            & {
                max-inline-size: 12rem;
            }
        }

        //
        .cut-space {
            @include ps.limited-inline(100%);
            @include ps.limited-block(100%);

            //
            & {
                border-radius: 0.2rem;
                overflow: hidden;
            }
        }
    }
};
