@use "@unite/scss/design/ColorTheme";
@use "@unite/scss/core/CMixins" as cm;
@use "@unite/scss/core/Utils" as u;

//
@layer ui-modal-frame {
    .ui-modal-frame {
        inset: 0px;
        direction: ltr;

        //
        inset-inline-end: auto;
        inset-block-end: auto;

        //
        place-self: start;

        //
        position: fixed;
        padding: 0.25rem;
        overflow: hidden;
        border-radius: 0.25rem;
        box-sizing: border-box;

        //
        pointer-events: auto;

        //
        place-items: center;
        place-content: center;

        //
        z-index: 99999;
        font-size: 0.8rem;

        //
        --rx: 0px;
        --ry: 0px;

        //
        --translate-x: clamp(0px, calc(calc(50cqi - 50%) + var(--rx)), calc(100cqi - 100%));
        --translate-y: clamp(0px, calc(calc(50cqb - 50%) + var(--ry)), calc(100cqb - 100%));

        //
        transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale, 1));

        //
        box-shadow: 0px 0px 1rem 1px #00000070;

        //
        @include u.clamped-width(max-content, 12rem, 80cqi);
        @include u.clamped-height(max-content, max-content, 80cqb);

        //
        &.ui-context-menu {
            --rx: calc(var(--click-x, 0) * var(--zpx, 1px) - calc(50cqi - 50%));
            --ry: calc(var(--click-y, 0) * var(--zpx, 1px) - calc(50cqb - 50%));

            //
            @media screen and (hover: none) and (pointer: coarse) {
                --rx: calc(var(--click-x, 0) * var(--zpx, 1px) - 50cqi);
                --ry: calc(var(--click-y, 0) * var(--zpx, 1px) - 50cqb);
            }

            //
            & .ui-ctx-item {
                pointer-events: auto;
            }
        }

        //
        .cut-space {
            padding: 0rem;
            margin: 0rem;

            //
            border-radius: 0.2rem;
            overflow: hidden;

            //
            min-inline-size: max-content;
            min-block-size: max-content;

            //
            inline-size: stretch;
            block-size: stretch;

            //
            max-inline-size: 80cqi;
            max-block-size: 80cqb;
        }
    }
};
