@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/design/ColorTheme";

//
@layer ui-icon-edit {

    //
    .ui-icon-edit {
        max-inline-size: 16rem;

        //
        button {
            border-radius: 0.25rem;
            padding: 1rem;
        }

        //
        .ui-but {
            @include ps.stretch;
            @include ps.grid-layout(
                minmax(0px, 1fr) minmax(0px, 1fr),
                minmax(0px, max-content)
            );

            //
            gap: 1rem;
            padding: 0.5rem;
        }

    }
};