@use "@unite/scss/core/Profile" as ps;

//
@layer ui-editor {
    //
    .ui-editor {
        //
        @include ps.grid-layout(
            minmax(0px, 1fr) minmax(3rem, max-content) minmax(3rem, max-content),
            minmax(3rem, max-content)
        );

        //
        & {
            grid-row: field-edit;
            align-self: start;

            //
            inline-size: 100%;
            block-size: 3rem;

            //
            pointer-events: auto;
            z-index: 999999;
            overflow: hidden;

            //
            box-shadow: 0px 0px 1rem 1px #00000070;
        }

        //
        :where(.field-copy, .field-paste) {//
            @include ps.stretch;

            //
            & {
                aspect-ratio: 1 / 1;
                padding: 1rem;
                pointer-events: auto;
                border-radius: 0px;
                cursor: pointer;
            }
        }

        //
        input {
            @include ps.stretch;

            //
            & {
                pointer-events: auto;
                user-select: auto;
                font-size: 1.3rem;
                padding-inline: 1rem;
            }
        }
    }
};
