@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/design/ColorTheme";

//
@layer ui-inputs {
    :where(.number-input) {
        @include ps.grid-layout(
            var(--block-size) minmax(max-content, 1fr) var(--block-size),
            minmax(max-content, var(--block-size))
        );

        //
        @include ps.limited-block(max-content, var(--block-size));
        @include ps.limited-inline(max-content, 8rem);

        //
        & { --block-size: 2rem; };
        & {
            pointer-events: auto;
            direction: ltr;
            justify-items: stretch;
            justify-content: space-between;

            //
            overflow: hidden;
            border-radius: 0.25rem;
            padding: 0px;

            //
            text-align: center;
        }

        //
        &,
        input {
            @include ps.stretch;
            @include ps.no-wrap;

            //
            & {
                text-align: center;
                place-content: center;
                place-items: center;
                place-self: center;
                font-family:
                    "Consolas",
                    "Menlo",
                    "Monaco",
                    "Lucida Console",
                    "Liberation Mono",
                    "DejaVu Sans Mono",
                    "Bitstream Vera Sans Mono",
                    "Courier New",
                    monospace,
                    serif;
            }
        }

        //
        & > :where(*) {
            @include ps.stretch;

            //
            & {
                pointer-events: none;
                background: transparent;
                background-color: transparent;
                place-content: center;
                place-items: center;
                text-align: center;
            }
        }

        //
        & .input-wrap {
            @include ps.stretch;

            //
            & {
                flex-grow: 1;
                display: contents;
                overflow: visible;
                background-color: var(--current-surface-color);
                place-content: center;
                place-items: center;
                text-align: center;
            }
        }

        //
        & input {
            @include ps.no-wrap;
            @include ps.stretch;

            //
            min-inline-size: 4em;
            text-align: center;

            //
            pointer-events: none;
            cursor: default;
            color: var(--current-glyph-color);

            //
            flex-grow: 1;
            opacity: 1;
            padding: 0px;
            overflow: visible;
            background: transparent;
            background-color: transparent;
            appearance: textfield;
            visibility: visible;

            //
            font-size: 0.7rem;
            line-height: 0px;
        }

        //
        & > :is(.f-minus, .f-plus) {
            @include ps.limited-inline(min(100%, var(--block-size)));
            @include ps.limited-block(min(100%, var(--block-size)));

            //
            & {
                cursor: pointer;
                background-color: var(--current-surface-color);
                pointer-events: auto;
                aspect-ratio: 1 / 1;
                padding: 0.5rem;
                box-sizing: border-box;
                border-radius: 0px;
                line-height: 0px;
            }
        }

        //
        & > .icon-wrap {
            //@include ps.stretch;

            //
            place-self: center;
            aspect-ratio: 1 / 1;
            block-size: 100%;
            inline-size: max-content;
        }
    }
};
