@use "@unite/scss/core/CMixins" as cm;
@use "@unite/scss/core/Utils" as u;

//
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-shape-select {

    //
    .ui-shape-selector {

        //
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        block-size: max-content;
        min-block-size: 4rem;
        inline-size: 100%;

        //
        place-content: center;
        place-items: center;

        //
        .ui-shape-frame {
            display: grid;
            grid-template-columns: minmax(0px, 100%);
            grid-template-rows: minmax(0px, 100%);

            //
            aspect-ratio: 1 / 1;
            min-block-size: 0px;
            min-inline-size: 0px;

            //flex-basis: 3rem;//min(3rem, 100%);
            block-size: auto;
            inline-size: min(3rem, 16cqi);
            border-radius: 0.5rem;
            place-content: center;
            place-items: center;
            cursor: pointer;
            pointer-events: auto;
            background-color: transparent;
            overflow: hidden;

            //
            & > :where(*) {
                inline-size: 100%;
                block-size: 100%;
                grid-column: 1 / 1 span;
                grid-row: 1 / 1 span;
                aspect-ratio: 1 / 1;
            }

            //
            & { --theme-accent-chroma: 0.5 !important; };
            & .ui-shape-bg { --theme-accent-chroma: 0.1 !important; }

            //
            &:has(:checked) {
                outline: solid 0.125rem var(--current-surface-color);
            }

            //
            .ui-shape {
                z-index: 1;

                pointer-events: none;
                display: flex;
                position: relative;
                inline-size: calc(100% - 0.666rem);
                block-size: calc(100% - 0.666rem);
                place-content: center;
                place-items: center;

                max-block-size: none;
                max-inline-size: none;
                aspect-ratio: 1 / 1;

                cursor: pointer;
                background-color: var(--current-surface-color);

                //
                --theme-accent-chroma: 0.5 !important;

                //
                input {
                    pointer-events: none;
                    position: absolute;
                    opacity: 0;
                }
            }
        }

    }
};
