@use "@unite/scss/core/CMixins" as cm;
@use "@unite/scss/core/Utils" as u;

//
@use "@unite/scss/design/ColorTheme" as tm;
@use "@unite/scss/design/ColorVars" as cl;
@use "@unite/scss/design/ColorUtils" as cu;

//
@layer ui-inputs {

    //
    @property --value-mod {
        syntax: "<number>";
        inherits: true;
        initial-value: 0;
    }

    //
    @property --on-active {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    .ui-switch {
        inline-size: 5rem;
        block-size: 2rem;
        pointer-events: none;
        border-radius: 50%;
        //cursor: pointer;

        //
        transition: --on-active 150ms;

        //
        & {
            display: grid;
            grid-template-columns:
                [gap-s] minmax(0px, 0.75rem)
                [active] minmax(0px, var(--on-active))
                [thumb] minmax(0px, 1px)
                [inactive] minmax(0px, 1fr)
                [gap-e] minmax(0px, 0.75rem);
            grid-template-rows: minmax(0px, 1fr);

            //
            position: relative;
            overflow: visible;
        }

        //
        & { --on-active: calc(100% * var(--value-mod) - 0.75rem); };

        //
        & > :where(*) {
            display: flex;
            grid-row: 1 / 1 span;
            grid-column: 1 / 5 span;
            inline-size: 100%;
            block-size: 100%;
            place-content: center;
            place-items: center;
            pointer-events: none;
        }

        //
        & .bg {
            display: grid;
            grid-column: 1 / 5 span;
            grid-row: 1 / 1 span;
            grid-template-columns: subgrid;
            grid-template-rows: minmax(0px, 1fr);
            clip-path: inset(0px 0px 0px 0px round 1rem);
            border-radius: 50%;

            //
            & > :where(*) {
                display: flex;
                grid-row: 1 / 1 span;
                grid-column: 1 / 3 span;
                inline-size: 100%;
                block-size: 100%;
                place-content: center;
                place-items: center;
            };

            //
            & > .in-active { grid-column: 4 / 5 span; };
            & > .active { grid-column: 1 / 3 span; };
        }

        //
        & .thumb {
            grid-column: thumb;
            position: relative;
            overflow: visible;

            //
            & .inner {
                //translate: -50% calc(1rem - 50%);

                //
                position: absolute;
                inset: auto;
                pointer-events: none;

                //
                display: flex;
                place-content: center;
                place-items: center;

                //
                inline-size: 2.1rem;
                block-size: 2.1rem;

                //
                padding: 0.5rem;

                //
                border-radius: 50%;
            }
        }

        //
        input[type="range"]::-moz-range-thumb,
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            block-size: stretch;
            inline-size: 2.1rem;
            aspect-ratio: 1 / 1;

            //
            touch-action: manipulation;
            -webkit-user-drag: auto;
            -moz-user-drag: auto;
            user-select: none;

            pointer-events: auto;
            cursor: pointer;

            direction: ltr;
        }

        //
        input {//
            inline-size: 100%;
            block-size: 100%;
            border-radius: 50%;
            overflow: visible;

            //
            padding: 0px;
            border: none 0px transparent;
            position: relative;
            pointer-events: auto;

            //
            grid-column: 1 / 5 span;
            grid-row: 1 / 1 span;

            //
            opacity: 0;
            cursor: pointer;
            direction: ltr;
        }

    }
};
