@use "@unite/scss/core/Profile" as ps;
@use "@unite/scss/design/ColorTheme" as tm;

//
@layer ui-shape-select {

    //
    .ui-typic-select {
        & {
            gap: 1rem;
            block-size: max-content;
            min-block-size: 4rem;
            inline-size: 100%;
        }

        //
        .ui-select-frame {
            @include ps.grid-layout(minmax(0px, 1fr), minmax(0px, 1fr));
            @include ps.limited-inline(max-content);

            //
            & {
                block-size: max-content;
                position: relative;

                //
                border-radius: 0.5rem;
                cursor: pointer;
                pointer-events: auto;
                background-color: transparent;
                overflow: hidden;
            }

            //
            input {
                inline-size: 0px;
                block-size: 0px;
                inset: 0px;
                pointer-events: none;
                position: absolute;
                opacity: 0;
            }

            //
            & > :where(*) {
                @include ps.stretch;

                //
                & {
                    grid-column: 1 / 1 span;
                    grid-row: 1 / 2 span;
                }
            }

            //
            &:has(:checked) {
                outline: solid 0.125rem var(--current-surface-color);
            }

            //
            & .ui-select-box {
                @include ps.grid-layout(
                    minmax(0px, 1fr),
                    minmax(0px, max-content) minmax(0px, 1fr)
                );

                //
                & {
                    pointer-events: none;
                    inline-size: max-content;
                    block-size: max-content;
                }

                //
                &:has(.ui-shape) { padding: 0.4rem; }
                &:has(.ui-select-decor) { inline-size: min(16rem, 40cqi); }
            }

            //
            & .ui-shape {
                @include ps.fit-by-inline(min(2.5rem, 12cqi));

                //
                & {
                    z-index: 1;
                    grid-column: 1 / 1 span;
                    grid-row: 1 / 2 span;

                    //
                    pointer-events: none;
                    position: relative;

                    //
                    cursor: pointer;
                    background-color: var(--current-surface-color);
                }
            }

            //
            .ui-select-label {
                @include ps.clamped-block(max-content, 4rem, 100%);
                @include ps.clamped-inline(max-content, 100%, 100%);
                @include ps.flex(row);

                //
                & {
                    font-size: 0.8rem;
                    place-content: start;
                    place-items: start;
                    gap: 0.5rem;
                    padding: 0.75rem;
                    grid-row: 2 / 2 span;
                }

                //
                & > :where(*) { block-size: 1rem; }
            }

            //
            .ui-select-decor {
                @include ps.grid-layout(
                    // columns
                        [icon] minmax(0px, max-content)
                        [title] minmax(0px, 1fr)
                        [button] minmax(0px, max-content),

                    // rows
                    minmax(0px, max-content)
                );

                //
                & {
                    padding: 0.5rem;
                    font-size: 0.7rem;
                    gap: 0.5rem;

                    //
                    justify-content: space-between;
                    container-type: inline-size;
                    block-size : max-content;
                    inline-size: 100%;

                    //
                    grid-row: 1 / 1 span;
                }

                //
                & > :where(*) {
                    block-size: 1rem;
                    grid-row: 1 / 1 span;
                }

                //
                & .title {
                    @include ps.stretch;
                    justify-content: start;
                }

                //
                &.ui-win {
                    grid-template-columns:
                    [icon] minmax(0px, max-content)
                    [title] minmax(0px, 1fr)
                    [button] minmax(0px, max-content);
                }

                //
                &.ui-mac {
                    grid-template-columns:
                    [button] minmax(0px, max-content)
                    [title] minmax(0px, 1fr)
                    [icon] minmax(0px, max-content);
                }
            }
        }

    }
};
