//
@use "@unite/scss/core/Utils" as u;
@use "@unite/scss/core/CMixins" as cm;

//
@use "@unite/scss/design/ColorTheme";

//
@layer ui-item-edit {
    //
    .ui-edit-form {//
        inline-size: 100%;

        //
        place-content: center;
        place-items: center;

        //
        min-inline-size: max-content;
        min-block-size: max-content;

        //
        max-inline-size: stretch;
        max-block-size: stretch;

        //
        display: grid;
        flex-direction: column;
        gap: 1rem;

        //
        padding: 1rem;
        padding-block: 0.5rem;

        //
        grid-template-columns: minmax(0px, 1fr);
        grid-auto-rows: minmax(0px, max-content);

        //
        block-size: max-content;

        //
        justify-items: stretch;
        container-type: size-inline;
        contain: layout;

        //
        & > :where(*) { flex: 1; }

        //
        .ui-edit-desc {
            display: flex;
            place-items: center;
            place-content: center;
        }

        //
        .ui-field-block {//
            inline-size: 100%;

            //
            display: grid;
            grid-template-columns: minmax(0px, max-content) minmax(max-content, 1fr);
            grid-template-rows: minmax(0px, max-content);
            gap: 1rem;

            //
            place-items: center;
            place-content: space-between;

            //
            justify-items: stretch;

            //
            min-inline-size: max-content;
            min-block-size: max-content;

            //
            block-size: stretch;

            //
            max-inline-size: stretch;
            max-block-size: stretch;

            //
            .field-label {
                justify-self: start;
                display: inline-block;

                //
                inline-size: max-content;
                block-size: max-content;

                //
                min-inline-size: max-content;
                min-block-size: max-content;

                //
                max-inline-size: stretch;
                max-block-size: stretch;

                //
                padding: 0.5rem;
            }

            //
            .field-input {
                justify-self: end;
                display: inline-block;

                //
                font-size: 0.8rem;
                border-radius: 0.25rem;

                //
                min-inline-size: max-content;
                min-block-size: max-content;

                //
                inline-size: max-content;
                block-size: max-content;

                //
                max-inline-size: stretch;
                max-block-size: stretch;

                //
                user-select: auto;

                //
                padding: 0.5rem;
            }
        }
    }
};
