@use "@unite/scss/core/Profile" as ps;

//
@layer ui-viewport {

    //
    .ui-viewport {
        @include ps.stretch;
        @include ps.grid-layout(
            minmax(0px, 1fr),
            minmax(0px, 1fr)
        );

        //
        & {
            translate: 0px 0px !important;
            transform: none !important;
            margin: 0px !important;

            //
            container-type: size;
            contain: content;

            //
            position: relative;
            overflow: visible;
            pointer-events: none;

            //
            inset: 0px;
            z-index: 0;
            place-self: center;

            //
            background-color: transparent !important;
            will-change: --keyboard-inset-bottom, --keyboard-inset-height, contents, inset;
        }

        //
        & > * {
            grid-row: 1 / 1 span;
            grid-column: 1 / 1 span;
        }
    }
};
