@use "@unite/scss/core/Profile" as ps;

//
@layer ui-viewport {

    //
    .ui-viewport {
        @include ps.stretch;
        @include ps.grid-layout(
            minmax(0px, 1fr),
            [empty-space] minmax(0px, 1fr)
            [field-edit] minmax(3rem, max-content)
            [v-keyboard] minmax(0px, var(--keyboard-inset-height, 0px))
        );

        //
        & {
            translate: 0px 0px !important;
            transform: none !important;
            margin: 0px !important;

            //
            container-type: size;
            contain: content;

            //
            position: relative;
            overflow: visible;
            pointer-events: none;

            //
            inset: 0px;
            z-index: 0;
            place-self: center;

            //
            background-color: transparent !important;
            will-change: --keyboard-inset-bottom, --keyboard-inset-height, contents, inset;
        }

        //
        & > * { grid-row: empty-space; }

        //
        .ui-viewport-box {
            @include ps.stretch;

            //
            & {
                background-color: transparent !important;
                align-self: start;
                position: relative;
                overflow: visible;
                inset: 0px;
                grid-row: 1 / 1 span;
            }

            //
            .ui-viewport-content {
                @include ps.grid-layout();

                //
                background-color: transparent !important;
                inset: 0px;
                inset-block-end: auto;
                position: absolute;
                overflow: hidden;
                container-type: size;
                contain: content;

                //
                inline-size: 100cqi;
                block-size: 100cqb;

                //
                & > :where(*) {
                    grid-column: 1 / 1 span;
                    grid-row: 1 / 1 span;
                }
            }
        }
    }
};
