@use "@unite/scss/core/Profile" as ps;

//
@layer ui-decors {
    .ui-block-decor {
        @include ps.no-wrap;
        @include ps.clamped-block(var(--decor-size), max-content, none);
        @include ps.clamped-inline(max-content, 100%, 100%);
        @include ps.grid-layout(
            minmax(max-content, var(--decor-size)) minmax(0px, 1fr) minmax(max-content, var(--decor-size)),
            minmax(max-content, var(--decor-size))
        );

        //
        & { --decor-size: 2.8rem; };

        //
        & {
            contain: none;

            //
            position: relative;
            container-type: normal;
            pointer-events: none;

            //
            cursor: pointer;
            overflow: visible;

            //
            place-self: end;
            place-content: end;
            place-items: end;
            text-align: end;
            justify-content: end;
        }

        //
        & > :where(*) {
            @include ps.no-wrap;
            @include ps.stretch;
            @include ps.limited-inline(max-content);
            @include ps.limited-block(100%);

            //
            & {
                //place-self: start;
                display: flex;
                inset: 0px;
                pointer-events: none;
                background-clip: border-box;
                background-origin: content-box;
                background-color: transparent;
                background-image: none;
                padding-inline: calc(var(--decor-size) * 0.3);
                padding-block: calc(var(--decor-size) * 0.3);
                overflow: visible;
                flex-grow: 0;
                flex-basis: auto;
                flex-shrink: 0;
                z-index: 99;

                inset-inline-end: auto;
                inset-block-end: auto;

                //
                text-align: center;
                justify-self: end;
                justify-content: center;
                justify-items: center;

                //
                box-sizing: border-box;

                //
                grid-column: 1 / 1 span;
                grid-row: 1 / 1 span;
            }
        }

        //
        & > *:where([data-place="label"], :not([data-place])) {
            @include ps.no-wrap;
            @include ps.stretch;
            @include ps.limited-inline(100%);

            //
            & {
                padding-inline: calc(var(--decor-size) * 0.2);

                //
                text-align: start;
                justify-self: end;
                justify-content: start;
                justify-items: start;
            }
        }

        //
        & > *[data-place="element"] {
            @include ps.limited-inline(max-content);

            //
            & {
                pointer-events: none;
                aspect-ratio: auto;
                justify-self: end;
            }
        }

        //
        & > *[data-place="icon"] {
            @include ps.limited-inline(var(--decor-size));
            @include ps.limited-block(var(--decor-size));

            //
            & {
                stroke: var(--current-glyph-color);
                color : var(--current-glyph-color);
                aspect-ratio: 1 / 1;
                justify-self: start;
            }
        }

        //
        & > *[data-place="icon"]    { grid-column: 1 / 1 span; grid-row: 1 / 1 span; }
        & > *[data-place="element"] { grid-column: 3 / 3 span; grid-row: 1 / 1 span; }
        & > *:where([data-place="label"], :not([data-place])) {
            grid-column: 2 / 2 span;
            grid-row: 1 / 1 span;
        }

        //
        &.layout-alt {
            //
            @include ps.grid-layout(
                minmax(var(--decor-size), max-content) minmax(0px, 1fr),
                minmax(var(--decor-size), max-content) minmax(var(--decor-size), max-content)
            );

            //
            & {
                overflow: visible;
                block-size: max-content;
            }

            //
            & > *[data-place="icon"]    { grid-column: 1 / 1 span; grid-row: 1 / 1 span; justify-self: start;}
            & > *[data-place="element"] { grid-column: 1 / 2 span; grid-row: 2 / 2 span; justify-self: start; align-self: start; }
            & > *:where([data-place="label"], :not([data-place])) {
                grid-column: 2 / 2 span;
                grid-row: 1 / 1 span;
                justify-self: start;
            }
        }
    };
};
